@import "bootstrap-sprockets";
@import "bootstrap";

.background {
        background-image: asset-url("thunderbird.jpg");
        height: 100vh;
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1{
        color : white;
      }
.background-2 {
  background-image: asset-url("mountains.jpg");
  height: 200vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  }
